$tablet-width: 768px;
$desktop-width: 1024px;

$tablet-calc-width: 768px;
$desktop-calc-width: 1200px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin tablet-calc {
  @media (min-width: #{$tablet-calc-width}) and (max-width: #{$desktop-calc-width - 1px}) {
    @content;
  }
}

@mixin desktop-calc {
  @media (min-width: #{$desktop-calc-width}) {
    @content;
  }
}