@mixin transition($time, $type)
{
     -webkit-transition: all $time $type;
        -moz-transition: all $time $type;
         -ms-transition: all $time $type;
          -o-transition: all $time $type;
             transition: all $time $type;
}

@mixin opacity($opacity) 
{
  opacity: $opacity;
  $opacityie: $opacity * 100;
  filter: alpha(opacity=$opacityie); //IE8
}

// generic transform
@mixin transform($transforms) 
{
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

// rotate
@mixin rotate ($deg) 
{
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) 
{
   @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) 
{
   @include transform(translate($x, $y));
}

// translate3d
@mixin translate3d ($x, $y, $z) 
{
   @include transform(translate3d($x, $y, $z));
}
// skew
@mixin skew ($x, $y) 
{
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) 
{
      moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
          transform-origin: $origin;
}

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $spread $color;
    -moz-box-shadow:inset $top $left $blur $spread $color;
    box-shadow:inset $top $left $blur $spread $color;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur);
  } @else {
    -webkit-box-shadow: $top $left $blur $spread $color;
    -moz-box-shadow: $top $left $blur $spread $color;
    box-shadow: $top $left $blur $spread $color;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur);
  }
}

@mixin text-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4)) {
    text-shadow: $x $y $blur $color;
}

@mixin animation($animate...) {
    $max: length($animate);
    $animations: '';

    @for $i from 1 through $max {
        $animations: #{$animations + nth($animate, $i)};

        @if $i < $max {
            $animations: #{$animations + ", "};
        }
    }
    -webkit-animation: $animations;
    -moz-animation:    $animations;
    -o-animation:      $animations;
    animation:         $animations;
}

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}