@import 'mixin-common';
@import 'mixin-flex';
@import 'mixin-mediaqueries';

$icon-directory : "../images/icon/";
$bg-directory   : "../images/bg/";
$sets-directory : "../images/sets/";

$normal      : #FFFFFF;
$rare        : #D9EAD3;
$epic        : #CFE2F3;
$unique      : #F4CCCC;
$legendary   : #D5A6BD;
$transcended : #FBD154;
$awaken      : #55B9CA;

$active-blue-color         : #1991B9;
$active-green-color        : #B2DAA9;
$active-green-darker-color : #97C58D;

.text-normal{color:$normal;}
.text-rare{color:$rare;}
.text-epic{color:$epic;}
.text-unique{color:$unique;}
.text-legendary{color:$legendary;}
.text-transcended{color:$transcended;}

.bg-normal{background-color:$normal;color:#000;}
.bg-rare{background-color:$rare;color:#000;}
.bg-epic{background-color:$epic;color:#000;}
.bg-unique{background-color:$unique;color:#000;}
.bg-legendary{background-color:$legendary;color:#000;}
.bg-transcended
{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feb645+1,f1e767+50,feb645+100 */
	background: #F5D75C; /* Old browsers */
	// background: -moz-linear-gradient(-45deg,  #feb645 1%, #f1e767 50%, #feb645 100%); /* FF3.6-15 */
	// background: -webkit-linear-gradient(-45deg,  #feb645 1%,#f1e767 50%,#feb645 100%); /* Chrome10-25,Safari5.1-6 */
	// background: linear-gradient(135deg,  #feb645 1%,#f1e767 50%,#feb645 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feb645', endColorstr='#feb645',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color:#000;
}

.text-red{color:red;}
.text-green{color:green;}
.text-bold{font-weight:bold;}

@mixin equip-select-before()
{
	position:absolute;
	top:-13px;
	width:100%;
	text-align: center;
	font-size:10px;
	font-style: italic;
	font-weight:bold;
	background-color:#fafafa;
	color:#818181;
	z-index:-1;
	border:1px solid #d7d7d7;
	@include rounded(3px);
}


html, body
{
	height:100%;
}

body
{
	background:url("#{$bg-directory}yekaterina-by-fizintine.jpg") no-repeat center center fixed;
	-webkit-background-size : contain; /* pour anciens Chrome et Safari */
	-moz-background-size    : contain;
	-o-background-size      : contain;
	background-size         : contain; /* version standardisée */
}

h1
{
	margin-top:0;
}

.tab-content
{
	padding-top:5px;
}

.form-group
{
	margin-bottom:5px;
}

legend
{
	margin-bottom:5px;

	.glyphicon
	{
		font-size:18px;
	}
}

.btn-toolbar
{
	margin-left:0;

	> *
	{
		margin-bottom: 5px;
	}

	label
	{
		padding:6px 0;
		float:left;
	}
}

.btn
{
	@include transition(0.2s, linear);
}

// overwrite some bootstrap effects
.btn-default
{
	&.active
	{
		background-color:#e2fed9;
	}

	&:hover
	{
		@include box-shadow(0px, 0px, 3px, 0px, #9b9b9b, true);
	}
}

td
{
	white-space: nowrap;
}

.form-inline 
{
	.form-group 
	{
		display:inline-block;
		vertical-align: middle;

		select, input
		{
			width:100%;
		}
	}
}

header
{
	// margin-bottom:15px;
	background-color:#000;
	color:#fff;
}

#hero-pick
{
	select
	{
		display:inline-block; 
		width:auto;
	}

	#select-hero option
	{
		vertical-align:middle;
		padding-left:30px;
		height:25px;
		
		&.scissors 
		{
			background:url("#{$icon-directory}icon-scissors.png") no-repeat;
		}

		&.rock 
		{
			background:url("#{$icon-directory}icon-rock.png") no-repeat;
		}

		&.paper 
		{
			background:url("#{$icon-directory}icon-paper.png") no-repeat;
		}
	}

	.col-left
	{
		display:inline-block;
		width:170px;
		float:left;
	}

	#hero-awaken 
	{
		display: inline-block;
		width:25px;
		height:34px;
		padding:6px;

		span {
			vertical-align: middle;
		}
	}
}

#hero-stats
{
	font-size:11px;

	#hero-stats-details
	{
		td
		{
			padding: 4px;
		}

		.stat-add
		{
			color:#a49a7e;
		}
	}
}

.rank
{
  display: inline-block;
  width:20px;
  height:20px;
  -webkit-background-size: 20px; /* pour anciens Chrome et Safari */
  background-size: 20px; /* version standardisée */
}


#hero-potentials
{
	.potential-stat
	{
		width: 66%;
	}

	.potential-val 
	{
		width: 33%;
	}
}

.costume 
{
	height: 50px;
	margin-bottom: 10px;
	cursor: pointer;
	text-align: right;
	clear:both;
	@include transition(0.2s, linear);

	span
	{
		vertical-align: middle;
	}

	img 
	{
		width:50px;
		@include rounded(5px);
	}

	&:hover
	{
		background-color:#eee;
	}

	&.active
	{
		img 
		{
			@include box-shadow(0px, 0px, 5px, 3px, $active-blue-color)
		}

		span
		{
			font-weight: bold;
		}
	}
}

.battle-mastery
{
	display:inline-block;
	max-width:76px;
	margin-bottom:5px;
	margin-right:5px;

	img 
	{
		width:100%;
		display: block;
		margin: 0 auto;
	}
}

#equip-stats, #runes
{
	.equip, .rune
	{
		// border-bottom:1px dashed lightgrey;
		padding-top:15px;
		padding-bottom:15px;

		p
		{
			font-weight: bold;
			text-align: center;
			margin-bottom: 10px;
		}
	}

	.grade
	{
		padding:10px 0;
	}

	.grade + .grade
	{
		border-top:1px solid #f3f3f3;
	}

	.set
	{
		position:relative;
		width:30%;

		&:before
		{
			content:"Set";
			@include equip-select-before;
		}
	}

	.stuff, .item-rarity
	{
		position:relative;
		width:25%;
	}

	.stuff
	{
		&:before
		{
			content:"Type";
			@include equip-select-before;
		}
	}

	.item-rarity
	{
		&:before
		{
			content:"Rarity";
			@include equip-select-before;
		}
	}

	.enhancement
	{
		position:relative;
		width:20%;

		&:before
		{
			content:"Enh.";
			@include equip-select-before;
		}
	}

	.rune-grade
	{
		position:relative;
		width:25%;

		&:before
		{
			content:"Grade";
			@include equip-select-before;
		}
	}

	.rune-type
	{
		position:relative;
		width:75%;

		&:before
		{
			content:"Type";
			@include equip-select-before;
		}
	}

	.potential
	{
		position:relative;

		.potential-stat
		{
			width:60%;
		}

		.potential-val
		{
			width:40%;
		}
	}

	.stats
	{
		height: 34px;
		font-size:12px;
		white-space: nowrap;
		overflow: hidden;

		.stat
		{
			display: inline-block;
			padding: 6px;
			border:1px solid #ccc;

			&:first-child
			{
				border-top-left-radius:3px;
				border-bottom-left-radius:3px;
			}

			&:last-child
			{
				border-top-right-radius:3px;
				border-bottom-right-radius:3px;
			}

			&+.stat
			{
				margin-left: -1px;
			}
		}

		i
		{
			margin:0 auto;
			vertical-align: middle;
		}
	}

	.platinum
	{

		img
		{
			cursor: pointer;
			@extend .lighten;

			&.active
			{
				@include opacity(1);
			}
		}
	}

	.div-close
	{
		width:50px;
		height:50px;
		text-align: center;
		position:absolute;
		top:0;
		right:0;

		&:hover
		{
			cursor: pointer;
		}
	}
}

#runes.disabled {
	.runes-available
	{
		@include opacity(0.2);
	}
}

#sets-list
{
	position:relative;
	padding:7px;

	input[type="text"]
	{
		width:200px;
	}

	.flex {
		@include flex-wrap(wrap);
	}

	#sets-filter
	{
		margin-bottom: 15px;

		& > *
		{
			float:left;
		}
	}

	.sets-grade
	{
		margin-bottom: 15px;
		position:relative;
	}

	.grade-title
	{
		position:relative;
		font-weight: bold;
		font-size: 2em;
		margin: 5px 0;
		text-align: center;
		
		
		&:before, &:after
		{
			position:absolute;
			display:block;
			content:"";
			width:40%;
			top:49%;top:calc(50% - 4px);
			height: 1px;
		}

		&:before
		{		
			left:0;		

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6d6d6+0,ffffff+100&1+0,0+100 */
			background: -moz-linear-gradient(left,  rgba(214,214,214,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(214,214,214,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(214,214,214,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
		}

		&:after
		{
			right:0;

			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d6d6d6+100&0+0,1+100 */
			background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(214,214,214,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(214,214,214,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(214,214,214,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d6d6d6',GradientType=1 ); /* IE6-9 */
		}
	}
}

.grade-star
{
	color: #e9de11;
	text-shadow: 0.5px 0px 1.5px black;
	@include rotate(15);
}

.awake-star
{
	color: $awaken;
	text-shadow: 0px 0px 1.5px black;
}

.non-awake-star
{
	color: #dadada;
}



.flex
{
	@include flexbox();
}

.set-info
{
	@include flex(0, 0, 100%);

	@include tablet 
	{
		@include flex(0, 0, 50%);
	}

	@include desktop 
	{
		@include flex(0, 0, 25%);
	}

	position:relative;
	background-color:#fafafa;
	border:1px solid #e3e3e3;
	@include box-shadow(1px, 1px, 1px, 0px, #c0c0c0);
	@include transition(0.2s, linear);
	padding:10px 10px 26px 10px;
	margin-bottom: 5px;
	font-size:14px;
	cursor: pointer;

	&.active, &.activated
	{
		background-color:$active-green-color;
		border-color:$active-green-darker-color;

		.condition
		{
			background-color:$active-green-darker-color;
		}
	}	

	.title
	{
		font-weight: bold;
		vertical-align: top;
	}

	.effect 
	{
		display: block;
		position: relative;

		&:before
		{
			margin-right:15px;
			@include text-shadow(1px, 1px, 0px);
		}
	}

	.effect-stat
	{
		display: none;
	}

	.effect2
	{
		&:before
		{
			content:"2";
		}
	}

	.effect3
	{
		&:before
		{
			content:"3";
		}
	}

	.condition
	{
		position:absolute;
		left:0;
		bottom:0;
		height: 18px;
		width:100%;
		text-align: center;
		background-color:#F1F1F1;
		font-size:12px;
		font-style: italic;
		overflow: hidden;
		@include transition(0.2s, linear);
	}

	.equips
	{
		float: right;
	}
}

.lighten
{
	@include opacity(0.2);
}

.rank-b
{
	background-image: url("#{$icon-directory}rank-b.png");
	background-repeat: no-repeat;
	@extend .rank;
}

.rank-a
{
	background-image: url("#{$icon-directory}rank-a.png");
	background-repeat: no-repeat;
	@extend .rank;
}

.rank-s
{
	background-image: url("#{$icon-directory}rank-s.png");
	background-repeat: no-repeat;
	@extend .rank;
}

.rank-ss
{
	background-image: url("#{$icon-directory}rank-ss.png");
	background-repeat: no-repeat;
	@extend .rank;
}

.sets-activated
{
	padding-top:15px;
	@include flex-wrap(wrap);
}

#upcoming-sets
{
	margin-top: -10px;
	margin-bottom: 10px;

	.flex {
		display: flex;
		@include flex-wrap(no-wrap);
		align-items: center;
		overflow-x:auto;
		overflow-y:hidden;

		// @include desktop 
		// {
		// 	overflow:hidden;
		// }
	}	
	// ::-webkit-scrollbar {
	//     width: 0px;  /* remove scrollbar space */
	//     background: transparent;  /* optional: just make scrollbar invisible */
	// }

	.title 
	{
		color: grey;
		font-weight: bold;
		vertical-align: middle;
		width:100%;
		

		// &:after
		// {
		// 	right: -45px;
		// 	border-color: transparent transparent transparent #e4e4e4;
		// }

		// &:before
		// {
		// 	right: -25px;
		// 	border-color: transparent transparent transparent #c5c5c5;
		// }

		// &:before,&:after
		// {
		// 	content:"";
		// 	position: absolute;
		// 	top:-12px;
		// 	width: 0;
		// 	height: 0;
		// 	border-style: solid;
		// 	border-width: 30px 0 30px 30px;
		// }
	}

	.next-set, .no-set
	{ 

		@include flex(0, 0, auto);
		
	
		background: #f1f1f1;
		margin: 10px 15px 10px 0;
		padding:7px 10px;
		@include box-shadow(1px, 1px, 1px, 2px, #dadada);

		.date{ text-align: center; font-weight:bold; }
		.sets{ clear:both; }
		.set{ float:left; cursor:pointer; }
		.image
		{ 
			content:"";
			padding-top: 12px;
			height:75px;
			width: 78px;
			background-repeat: no-repeat;

			img {width:63px;}
		}

		.set-ss .image { background-image: url('#{$sets-directory}bg-upcoming-set.png'); }
		.set-s .image { background-image: url('#{$sets-directory}bg-upcoming-set-s.png'); }

		.set + .set
		{ 
			margin-left: 10px;
		}
	}
	// .next-set + .next-set
	// {
	// 	margin-left: 20px;
	// }
}


#advantages
{
  label
	{
		font-weight: normal;
		padding:5px;
		border:1px solid lightgrey;
		@include rounded(2px);
		cursor: pointer;
	}
}

#damage-block
{
  tr > td:first-child
  {
    font-weight:bold;
  }
}

.help
{
	color:white;

	&:hover
	{
		color:lightgrey;
	}
}

.alert 
{
	> p 
	{
		margin-bottom:15px;
	}

	> :last-child
	{
		margin-bottom: 0;
	}

	.date
	{
		font-size: 10px;
	}
}

.loader
{
	position:fixed;
	height:100%;
	width:100%;
	background-color:rgba(0,0,0,0.1);
	z-index:1100;

	img {
	  position: fixed;
	  top: 50%;
	  left: 50%;
	  // @include translate(-50%, -50%);
	  z-index:1101;
	}
}

.slot
{
	font-family:tahoma;
}

.bs-callout
{
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  @include rounded(3px);

  h4
  {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p:last-child 
  {
    margin-bottom: 0;
  }
}

.bs-callout-warning 
{
  border-left-color: #aa6708;

  h4 {color:#aa6708; }
}

.bs-callout-danger 
{
  border-left-color: #ce4844;

  h4 {color: #ce4844; }
}

.bs-callout-info 
{
  border-left-color: #1b809e;

  h4 {color: #1b809e; }
}


.btn-action-container
{
	position:absolute;
	top:2px;
	left:-15px;
	text-align:center;
	font-size:16px;
}

.btn-action
{
	
	@include rounded(50%);
	
	padding:5px;
	width:30px;
	height:30px;
	background-color:#f9f9f9;
	color:rgba(255,198,0, 1);
	
	text-align:center;
	vertical-align:middle;
	cursor:pointer;

	@include box-shadow(0px, 0px, 5px, 3px, #DEDEDE);
	@include transition(0.2s, linear);

	&:hover
	{
		@include box-shadow(0px, 0px, 5px, 3px, #A8A8A8);
		background-color:rgba(255,198,0, 1);
		color:#000;
	}
}

.icon
{
	width: 20px;
	// border: 1px solid #e3dbdb;
	padding: 2px;
}

.bloc
{
	width:100%;
}

.left-bloc
{
	@extend .bloc;
	left:0;

	@include tablet-calc 
	{
		position:absolute;top:0;width:300px;
		padding:0 10px;
		@include box-shadow(0px, 5px, 3px, 0px, #cfcfcf);
	}

	@include desktop-calc 
	{
		position:absolute;top:0;width:300px;
		height:100%;
		padding:0 10px;
		@include box-shadow(0px, 5px, 3px, 0px, #cfcfcf);
	}

	&.left-hidden
	{
		left:-290px;
	}

	.switch
	{
		display: none;

		@include tablet-calc 
		{	
			display: block;
			right:-7px;
		}

		@include desktop-calc 
		{	
			display: block;
			right:-7px;
		}
	}
}

.right-bloc
{
	@extend .bloc;
	right:0;

	@include desktop-calc 
	{
		position:absolute;top:0;width:300px;
		height:100%;
		padding:0 10px;
		@include box-shadow(0px, 5px, 3px, 0px, #cfcfcf);
	}

	&.right-hidden
	{
		right:-290px;
	}

	.switch
	{
		display: none;

		@include desktop-calc 
		{	
			display: block;
			left:-7px;
		}
	}
}

.mid-bloc
{
	@include tablet-calc 
	{
		padding-left:300px;
	}

	@include desktop-calc 
	{
		padding-left:300px;
		padding-right:300px;
	}
	
	&.left-hidden
	{
		padding-left:10px;
	}

	&.right-hidden
	{
		padding-right:10px;
	}
}

.switch
{
	position:absolute;
	top:0;
	font-size:10px;
	width: 12px;
	padding:35px 0;
	text-align:center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+50,f5f6f6+100 */
	background: #f5f6f6; /* Old browsers */
	background: -moz-linear-gradient(left,  #f5f6f6 0%, #dbdce2 50%, #f5f6f6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #f5f6f6 0%,#dbdce2 50%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #f5f6f6 0%,#dbdce2 50%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 */
}

#modal-sets .modal-dialog
{
	width:100%;
	margin:0;

	@include desktop-calc
	{
		width:80%;
		margin:30px auto;
	}
}

.notif
{
	position:fixed;
	left:15px;
	min-width:200px;
	z-index:102;
}

.stage-select-group
{
	list-style-type:none;
	padding:0;
	text-align:center;

	li 
	{
		display: inline-block;
	}

	li + li
	{
		margin-left:5px;
		margin-bottom: 5px;
	}
}

#heroes-table 
{
	th
	{
		cursor:pointer;
	}

	tbody tr
	{
		cursor:pointer;

		td:first-child
		{
			@include transition(0.2s, linear);
			border-left:10px solid transparent;
		}

		&.pinned
		{
			td:first-child
			{
				border-left:10px solid #0897a2;
			}
		}
	}

	.order-asc
	{
		
	}

	.order-desc
	{
		
	}
}

.legend
{
	.icon
	{
		display: inline-block;
		color: #ccb152;
		font-size: 20px;
		padding:10px;
	}
}

.icon-terrain
{
	width:24px;

	& + .icon-terrain
	{
		margin-left: 5px;
	}
}

.runes-container{
	position:relative
}


.runes-unavailable
{
	position:absolute;
	display:flex;
	width:100%;
	height:100%;
	z-index:3;
	text-align:center;
	font-size:40px;
	color:grey;
	text-shadow: 1px 1px 2px #868686;
	padding: 30px 0;

	p {
		margin:auto;
	}
}

.overlay
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	display:none;
	z-index: 999;
}

.overlay-expose
{
	position: relative;
	box-shadow: 0px 0px 10px 5px #b4b4b4;
	z-index: 1000;
}

.btn-primary, .btn-danger
{
	position:relative;	
}

.floating-tooltip
{
	// display:none;
	display:none;
	position:absolute;
	top:-35px;
	left:-3px;
	background-color:#000;
	padding:5px;
	border:1px solid grey;
	color:#fff;
	font-size:10px;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4);

	&:before
	{
		content:"";
		position: absolute;
		left:49%; left:calc(50% - 10px);
		bottom:-10px;

		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 10px 0 10px;
		border-color: #000000 transparent transparent transparent;
	}
}

.btn-danger .floating-tooltip
{
	display:block;

	@include keyframes(float-tooltip) 
	{
		0% {@include translate3d(0px, 7px, 0px); }
		50% {@include translate3d(0px, 0px, 0px); }
		100% {@include translate3d(0px, 7px, 0px); }
	}

	@include animation('float-tooltip 1.5s infinite ease-out');

	
}

