@charset "UTF-8";
.text-normal {
  color: #FFFFFF; }

.text-rare {
  color: #D9EAD3; }

.text-epic {
  color: #CFE2F3; }

.text-unique {
  color: #F4CCCC; }

.text-legendary {
  color: #D5A6BD; }

.text-transcended {
  color: #FBD154; }

.bg-normal {
  background-color: #FFFFFF;
  color: #000; }

.bg-rare {
  background-color: #D9EAD3;
  color: #000; }

.bg-epic {
  background-color: #CFE2F3;
  color: #000; }

.bg-unique {
  background-color: #F4CCCC;
  color: #000; }

.bg-legendary {
  background-color: #D5A6BD;
  color: #000; }

.bg-transcended {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#feb645+1,f1e767+50,feb645+100 */
  background: #F5D75C;
  /* Old browsers */
  color: #000; }

.text-red {
  color: red; }

.text-green {
  color: green; }

.text-bold {
  font-weight: bold; }

html, body {
  height: 100%; }

body {
  background: url("../images/bg/yekaterina-by-fizintine.jpg") no-repeat center center fixed;
  -webkit-background-size: contain;
  /* pour anciens Chrome et Safari */
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  /* version standardis├®e */ }

h1 {
  margin-top: 0; }

.tab-content {
  padding-top: 5px; }

.form-group {
  margin-bottom: 5px; }

legend {
  margin-bottom: 5px; }
  legend .glyphicon {
    font-size: 18px; }

.btn-toolbar {
  margin-left: 0; }
  .btn-toolbar > * {
    margin-bottom: 5px; }
  .btn-toolbar label {
    padding: 6px 0;
    float: left; }

.btn {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.btn-default.active {
  background-color: #e2fed9; }
.btn-default:hover {
  -webkit-box-shadow: inset 0px 0px 3px 0px #9b9b9b;
  -moz-box-shadow: inset 0px 0px 3px 0px #9b9b9b;
  box-shadow: inset 0px 0px 3px 0px #9b9b9b;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur); }

td {
  white-space: nowrap; }

.form-inline .form-group {
  display: inline-block;
  vertical-align: middle; }
  .form-inline .form-group select, .form-inline .form-group input {
    width: 100%; }

header {
  background-color: #000;
  color: #fff; }

#hero-pick select {
  display: inline-block;
  width: auto; }
#hero-pick #select-hero option {
  vertical-align: middle;
  padding-left: 30px;
  height: 25px; }
  #hero-pick #select-hero option.scissors {
    background: url("../images/icon/icon-scissors.png") no-repeat; }
  #hero-pick #select-hero option.rock {
    background: url("../images/icon/icon-rock.png") no-repeat; }
  #hero-pick #select-hero option.paper {
    background: url("../images/icon/icon-paper.png") no-repeat; }
#hero-pick .col-left {
  display: inline-block;
  width: 170px;
  float: left; }
#hero-pick #hero-awaken {
  display: inline-block;
  width: 25px;
  height: 34px;
  padding: 6px; }
  #hero-pick #hero-awaken span {
    vertical-align: middle; }

#hero-stats {
  font-size: 11px; }
  #hero-stats #hero-stats-details td {
    padding: 4px; }
  #hero-stats #hero-stats-details .stat-add {
    color: #a49a7e; }

.rank, .rank-b, .rank-a, .rank-s, .rank-ss {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-background-size: 20px;
  /* pour anciens Chrome et Safari */
  background-size: 20px;
  /* version standardis├®e */ }

#hero-potentials .potential-stat {
  width: 66%; }
#hero-potentials .potential-val {
  width: 33%; }

.costume {
  height: 50px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: right;
  clear: both;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .costume span {
    vertical-align: middle; }
  .costume img {
    width: 50px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
  .costume:hover {
    background-color: #eee; }
  .costume.active img {
    -webkit-box-shadow: 0px 0px 5px 3px #1991B9;
    -moz-box-shadow: 0px 0px 5px 3px #1991B9;
    box-shadow: 0px 0px 5px 3px #1991B9;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur); }
  .costume.active span {
    font-weight: bold; }

.battle-mastery {
  display: inline-block;
  max-width: 76px;
  margin-bottom: 5px;
  margin-right: 5px; }
  .battle-mastery img {
    width: 100%;
    display: block;
    margin: 0 auto; }

#equip-stats .equip, #equip-stats .rune, #runes .equip, #runes .rune {
  padding-top: 15px;
  padding-bottom: 15px; }
  #equip-stats .equip p, #equip-stats .rune p, #runes .equip p, #runes .rune p {
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px; }
#equip-stats .grade, #runes .grade {
  padding: 10px 0; }
#equip-stats .grade + .grade, #runes .grade + .grade {
  border-top: 1px solid #f3f3f3; }
#equip-stats .set, #runes .set {
  position: relative;
  width: 30%; }
  #equip-stats .set:before, #runes .set:before {
    content: "Set";
    position: absolute;
    top: -13px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    background-color: #fafafa;
    color: #818181;
    z-index: -1;
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
#equip-stats .stuff, #equip-stats .item-rarity, #runes .stuff, #runes .item-rarity {
  position: relative;
  width: 25%; }
#equip-stats .stuff:before, #runes .stuff:before {
  content: "Type";
  position: absolute;
  top: -13px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  background-color: #fafafa;
  color: #818181;
  z-index: -1;
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
#equip-stats .item-rarity:before, #runes .item-rarity:before {
  content: "Rarity";
  position: absolute;
  top: -13px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-style: italic;
  font-weight: bold;
  background-color: #fafafa;
  color: #818181;
  z-index: -1;
  border: 1px solid #d7d7d7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
#equip-stats .enhancement, #runes .enhancement {
  position: relative;
  width: 20%; }
  #equip-stats .enhancement:before, #runes .enhancement:before {
    content: "Enh.";
    position: absolute;
    top: -13px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    background-color: #fafafa;
    color: #818181;
    z-index: -1;
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
#equip-stats .rune-grade, #runes .rune-grade {
  position: relative;
  width: 25%; }
  #equip-stats .rune-grade:before, #runes .rune-grade:before {
    content: "Grade";
    position: absolute;
    top: -13px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    background-color: #fafafa;
    color: #818181;
    z-index: -1;
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
#equip-stats .rune-type, #runes .rune-type {
  position: relative;
  width: 75%; }
  #equip-stats .rune-type:before, #runes .rune-type:before {
    content: "Type";
    position: absolute;
    top: -13px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    background-color: #fafafa;
    color: #818181;
    z-index: -1;
    border: 1px solid #d7d7d7;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }
#equip-stats .potential, #runes .potential {
  position: relative; }
  #equip-stats .potential .potential-stat, #runes .potential .potential-stat {
    width: 60%; }
  #equip-stats .potential .potential-val, #runes .potential .potential-val {
    width: 40%; }
#equip-stats .stats, #runes .stats {
  height: 34px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden; }
  #equip-stats .stats .stat, #runes .stats .stat {
    display: inline-block;
    padding: 6px;
    border: 1px solid #ccc; }
    #equip-stats .stats .stat:first-child, #runes .stats .stat:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px; }
    #equip-stats .stats .stat:last-child, #runes .stats .stat:last-child {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }
    #equip-stats .stats .stat + .stat, #runes .stats .stat + .stat {
      margin-left: -1px; }
  #equip-stats .stats i, #runes .stats i {
    margin: 0 auto;
    vertical-align: middle; }
#equip-stats .platinum img, #runes .platinum img {
  cursor: pointer; }
  #equip-stats .platinum img.active, #runes .platinum img.active {
    opacity: 1;
    filter: alpha(opacity=100); }
#equip-stats .div-close, #runes .div-close {
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0; }
  #equip-stats .div-close:hover, #runes .div-close:hover {
    cursor: pointer; }

#runes.disabled .runes-available {
  opacity: 0.2;
  filter: alpha(opacity=20); }

#sets-list {
  position: relative;
  padding: 7px; }
  #sets-list input[type="text"] {
    width: 200px; }
  #sets-list .flex {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  #sets-list #sets-filter {
    margin-bottom: 15px; }
    #sets-list #sets-filter > * {
      float: left; }
  #sets-list .sets-grade {
    margin-bottom: 15px;
    position: relative; }
  #sets-list .grade-title {
    position: relative;
    font-weight: bold;
    font-size: 2em;
    margin: 5px 0;
    text-align: center; }
    #sets-list .grade-title:before, #sets-list .grade-title:after {
      position: absolute;
      display: block;
      content: "";
      width: 40%;
      top: 49%;
      top: calc(50% - 4px);
      height: 1px; }
    #sets-list .grade-title:before {
      left: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6d6d6+0,ffffff+100&1+0,0+100 */
      background: -moz-linear-gradient(left, #d6d6d6 0%, rgba(255, 255, 255, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #d6d6d6 0%, rgba(255, 255, 255, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #d6d6d6 0%, rgba(255, 255, 255, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#00ffffff',GradientType=1 );
      /* IE6-9 */ }
    #sets-list .grade-title:after {
      right: 0;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,d6d6d6+100&0+0,1+100 */
      background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #d6d6d6 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #d6d6d6 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #d6d6d6 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#d6d6d6',GradientType=1 );
      /* IE6-9 */ }

.grade-star {
  color: #e9de11;
  text-shadow: 0.5px 0px 1.5px black;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg); }

.awake-star {
  color: #55B9CA;
  text-shadow: 0px 0px 1.5px black; }

.non-awake-star {
  color: #dadada; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.set-info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  position: relative;
  background-color: #fafafa;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: 1px 1px 1px 0px #c0c0c0;
  -moz-box-shadow: 1px 1px 1px 0px #c0c0c0;
  box-shadow: 1px 1px 1px 0px #c0c0c0;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  padding: 10px 10px 26px 10px;
  margin-bottom: 5px;
  font-size: 14px;
  cursor: pointer; }
  @media (min-width: 768px) and (max-width: 1023px) {
    .set-info {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%; } }
  @media (min-width: 1024px) {
    .set-info {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 25%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 25%;
      -ms-flex: 0 0 25%;
      flex: 0 0 25%; } }
  .set-info.active, .set-info.activated {
    background-color: #B2DAA9;
    border-color: #97C58D; }
    .set-info.active .condition, .set-info.activated .condition {
      background-color: #97C58D; }
  .set-info .title {
    font-weight: bold;
    vertical-align: top; }
  .set-info .effect {
    display: block;
    position: relative; }
    .set-info .effect:before {
      margin-right: 15px;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4); }
  .set-info .effect-stat {
    display: none; }
  .set-info .effect2:before {
    content: "2"; }
  .set-info .effect3:before {
    content: "3"; }
  .set-info .condition {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 18px;
    width: 100%;
    text-align: center;
    background-color: #F1F1F1;
    font-size: 12px;
    font-style: italic;
    overflow: hidden;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  .set-info .equips {
    float: right; }

.lighten, #equip-stats .platinum img, #runes .platinum img {
  opacity: 0.2;
  filter: alpha(opacity=20); }

.rank-b {
  background-image: url("../images/icon/rank-b.png");
  background-repeat: no-repeat; }

.rank-a {
  background-image: url("../images/icon/rank-a.png");
  background-repeat: no-repeat; }

.rank-s {
  background-image: url("../images/icon/rank-s.png");
  background-repeat: no-repeat; }

.rank-ss {
  background-image: url("../images/icon/rank-ss.png");
  background-repeat: no-repeat; }

.sets-activated {
  padding-top: 15px;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

#upcoming-sets {
  margin-top: -10px;
  margin-bottom: 10px; }
  #upcoming-sets .flex {
    display: flex;
    -webkit-flex-wrap: no-wrap;
    -moz-flex-wrap: no-wrap;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden; }
  #upcoming-sets .title {
    color: grey;
    font-weight: bold;
    vertical-align: middle;
    width: 100%; }
  #upcoming-sets .next-set, #upcoming-sets .no-set {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: #f1f1f1;
    margin: 10px 15px 10px 0;
    padding: 7px 10px;
    -webkit-box-shadow: 1px 1px 1px 2px #dadada;
    -moz-box-shadow: 1px 1px 1px 2px #dadada;
    box-shadow: 1px 1px 1px 2px #dadada;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur); }
    #upcoming-sets .next-set .date, #upcoming-sets .no-set .date {
      text-align: center;
      font-weight: bold; }
    #upcoming-sets .next-set .sets, #upcoming-sets .no-set .sets {
      clear: both; }
    #upcoming-sets .next-set .set, #upcoming-sets .no-set .set {
      float: left;
      cursor: pointer; }
    #upcoming-sets .next-set .image, #upcoming-sets .no-set .image {
      content: "";
      padding-top: 12px;
      height: 75px;
      width: 78px;
      background-repeat: no-repeat; }
      #upcoming-sets .next-set .image img, #upcoming-sets .no-set .image img {
        width: 63px; }
    #upcoming-sets .next-set .set-ss .image, #upcoming-sets .no-set .set-ss .image {
      background-image: url("../images/sets/bg-upcoming-set.png"); }
    #upcoming-sets .next-set .set-s .image, #upcoming-sets .no-set .set-s .image {
      background-image: url("../images/sets/bg-upcoming-set-s.png"); }
    #upcoming-sets .next-set .set + .set, #upcoming-sets .no-set .set + .set {
      margin-left: 10px; }

#advantages label {
  font-weight: normal;
  padding: 5px;
  border: 1px solid lightgrey;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  cursor: pointer; }

#damage-block tr > td:first-child {
  font-weight: bold; }

.help {
  color: white; }
  .help:hover {
    color: lightgrey; }

.alert > p {
  margin-bottom: 15px; }
.alert > :last-child {
  margin-bottom: 0; }
.alert .date {
  font-size: 10px; }

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1100; }
  .loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1101; }

.slot {
  font-family: tahoma; }

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }
  .bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px; }
  .bs-callout p:last-child {
    margin-bottom: 0; }

.bs-callout-warning {
  border-left-color: #aa6708; }
  .bs-callout-warning h4 {
    color: #aa6708; }

.bs-callout-danger {
  border-left-color: #ce4844; }
  .bs-callout-danger h4 {
    color: #ce4844; }

.bs-callout-info {
  border-left-color: #1b809e; }
  .bs-callout-info h4 {
    color: #1b809e; }

.btn-action-container {
  position: absolute;
  top: 2px;
  left: -15px;
  text-align: center;
  font-size: 16px; }

.btn-action {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  padding: 5px;
  width: 30px;
  height: 30px;
  background-color: #f9f9f9;
  color: #ffc600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 3px #DEDEDE;
  -moz-box-shadow: 0px 0px 5px 3px #DEDEDE;
  box-shadow: 0px 0px 5px 3px #DEDEDE;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }
  .btn-action:hover {
    -webkit-box-shadow: 0px 0px 5px 3px #A8A8A8;
    -moz-box-shadow: 0px 0px 5px 3px #A8A8A8;
    box-shadow: 0px 0px 5px 3px #A8A8A8;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur);
    background-color: #ffc600;
    color: #000; }

.icon {
  width: 20px;
  padding: 2px; }

.bloc, .left-bloc, .right-bloc {
  width: 100%; }

.left-bloc {
  left: 0; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .left-bloc {
      position: absolute;
      top: 0;
      width: 300px;
      padding: 0 10px;
      -webkit-box-shadow: 0px 5px 3px 0px #cfcfcf;
      -moz-box-shadow: 0px 5px 3px 0px #cfcfcf;
      box-shadow: 0px 5px 3px 0px #cfcfcf;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur); } }
  @media (min-width: 1200px) {
    .left-bloc {
      position: absolute;
      top: 0;
      width: 300px;
      height: 100%;
      padding: 0 10px;
      -webkit-box-shadow: 0px 5px 3px 0px #cfcfcf;
      -moz-box-shadow: 0px 5px 3px 0px #cfcfcf;
      box-shadow: 0px 5px 3px 0px #cfcfcf;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur); } }
  .left-bloc.left-hidden {
    left: -290px; }
  .left-bloc .switch {
    display: none; }
    @media (min-width: 768px) and (max-width: 1199px) {
      .left-bloc .switch {
        display: block;
        right: -7px; } }
    @media (min-width: 1200px) {
      .left-bloc .switch {
        display: block;
        right: -7px; } }

.right-bloc {
  right: 0; }
  @media (min-width: 1200px) {
    .right-bloc {
      position: absolute;
      top: 0;
      width: 300px;
      height: 100%;
      padding: 0 10px;
      -webkit-box-shadow: 0px 5px 3px 0px #cfcfcf;
      -moz-box-shadow: 0px 5px 3px 0px #cfcfcf;
      box-shadow: 0px 5px 3px 0px #cfcfcf;
      filter: progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=NaN, Strength=$blur); } }
  .right-bloc.right-hidden {
    right: -290px; }
  .right-bloc .switch {
    display: none; }
    @media (min-width: 1200px) {
      .right-bloc .switch {
        display: block;
        left: -7px; } }

@media (min-width: 768px) and (max-width: 1199px) {
  .mid-bloc {
    padding-left: 300px; } }
@media (min-width: 1200px) {
  .mid-bloc {
    padding-left: 300px;
    padding-right: 300px; } }
.mid-bloc.left-hidden {
  padding-left: 10px; }
.mid-bloc.right-hidden {
  padding-right: 10px; }

.switch {
  position: absolute;
  top: 0;
  font-size: 10px;
  width: 12px;
  padding: 35px 0;
  text-align: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+50,f5f6f6+100 */
  background: #f5f6f6;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f5f6f6 0%, #dbdce2 50%, #f5f6f6 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #f5f6f6 0%, #dbdce2 50%, #f5f6f6 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #f5f6f6 0%, #dbdce2 50%, #f5f6f6 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 );
  /* IE6-9 */ }

#modal-sets .modal-dialog {
  width: 100%;
  margin: 0; }
  @media (min-width: 1200px) {
    #modal-sets .modal-dialog {
      width: 80%;
      margin: 30px auto; } }

.notif {
  position: fixed;
  left: 15px;
  min-width: 200px;
  z-index: 102; }

.stage-select-group {
  list-style-type: none;
  padding: 0;
  text-align: center; }
  .stage-select-group li {
    display: inline-block; }
  .stage-select-group li + li {
    margin-left: 5px;
    margin-bottom: 5px; }

#heroes-table th {
  cursor: pointer; }
#heroes-table tbody tr {
  cursor: pointer; }
  #heroes-table tbody tr td:first-child {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-left: 10px solid transparent; }
  #heroes-table tbody tr.pinned td:first-child {
    border-left: 10px solid #0897a2; }

.legend .icon {
  display: inline-block;
  color: #ccb152;
  font-size: 20px;
  padding: 10px; }

.icon-terrain {
  width: 24px; }
  .icon-terrain + .icon-terrain {
    margin-left: 5px; }

.runes-container {
  position: relative; }

.runes-unavailable {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  z-index: 3;
  text-align: center;
  font-size: 40px;
  color: grey;
  text-shadow: 1px 1px 2px #868686;
  padding: 30px 0; }
  .runes-unavailable p {
    margin: auto; }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  z-index: 999; }

.overlay-expose {
  position: relative;
  box-shadow: 0px 0px 10px 5px #b4b4b4;
  z-index: 1000; }

.btn-primary, .btn-danger {
  position: relative; }

.floating-tooltip {
  display: none;
  position: absolute;
  top: -35px;
  left: -3px;
  background-color: #000;
  padding: 5px;
  border: 1px solid grey;
  color: #fff;
  font-size: 10px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4); }
  .floating-tooltip:before {
    content: "";
    position: absolute;
    left: 49%;
    left: calc(50% - 10px);
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #000000 transparent transparent transparent; }

.btn-danger .floating-tooltip {
  display: block;
  -webkit-animation: float-tooltip 1.5s infinite ease-out;
  -moz-animation: float-tooltip 1.5s infinite ease-out;
  -o-animation: float-tooltip 1.5s infinite ease-out;
  animation: float-tooltip 1.5s infinite ease-out; }
@-webkit-keyframes float-tooltip {
  0% {
    -moz-transform: translate3d(0px, 7px, 0px);
    -o-transform: translate3d(0px, 7px, 0px);
    -ms-transform: translate3d(0px, 7px, 0px);
    -webkit-transform: translate3d(0px, 7px, 0px);
    transform: translate3d(0px, 7px, 0px); }
  50% {
    -moz-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px); }
  100% {
    -moz-transform: translate3d(0px, 7px, 0px);
    -o-transform: translate3d(0px, 7px, 0px);
    -ms-transform: translate3d(0px, 7px, 0px);
    -webkit-transform: translate3d(0px, 7px, 0px);
    transform: translate3d(0px, 7px, 0px); } }
@-moz-keyframes float-tooltip {
  0% {
    -moz-transform: translate3d(0px, 7px, 0px);
    -o-transform: translate3d(0px, 7px, 0px);
    -ms-transform: translate3d(0px, 7px, 0px);
    -webkit-transform: translate3d(0px, 7px, 0px);
    transform: translate3d(0px, 7px, 0px); }
  50% {
    -moz-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px); }
  100% {
    -moz-transform: translate3d(0px, 7px, 0px);
    -o-transform: translate3d(0px, 7px, 0px);
    -ms-transform: translate3d(0px, 7px, 0px);
    -webkit-transform: translate3d(0px, 7px, 0px);
    transform: translate3d(0px, 7px, 0px); } }
@-o-keyframes float-tooltip {
  0% {
    -moz-transform: translate3d(0px, 7px, 0px);
    -o-transform: translate3d(0px, 7px, 0px);
    -ms-transform: translate3d(0px, 7px, 0px);
    -webkit-transform: translate3d(0px, 7px, 0px);
    transform: translate3d(0px, 7px, 0px); }
  50% {
    -moz-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px); }
  100% {
    -moz-transform: translate3d(0px, 7px, 0px);
    -o-transform: translate3d(0px, 7px, 0px);
    -ms-transform: translate3d(0px, 7px, 0px);
    -webkit-transform: translate3d(0px, 7px, 0px);
    transform: translate3d(0px, 7px, 0px); } }
@keyframes float-tooltip {
  0% {
    -moz-transform: translate3d(0px, 7px, 0px);
    -o-transform: translate3d(0px, 7px, 0px);
    -ms-transform: translate3d(0px, 7px, 0px);
    -webkit-transform: translate3d(0px, 7px, 0px);
    transform: translate3d(0px, 7px, 0px); }
  50% {
    -moz-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    transform: translate3d(0px, 0px, 0px); }
  100% {
    -moz-transform: translate3d(0px, 7px, 0px);
    -o-transform: translate3d(0px, 7px, 0px);
    -ms-transform: translate3d(0px, 7px, 0px);
    -webkit-transform: translate3d(0px, 7px, 0px);
    transform: translate3d(0px, 7px, 0px); } }

/*# sourceMappingURL=calculator.css.map */
