html, body {
  height: 100%; }

.cache {
  display: none; }

.nmachine {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  padding: 15px;
  text-align: center; }
  .nmachine .coocoo {
    width: 50%; }
  .nmachine .button {
    position: absolute;
    border-radius: 50% 50%;
    left: 42.4%;
    top: 73.8%;
    width: 13.8%;
    height: 10.3%;
    display: block;
    background-color: red;
    cursor: pointer; }
  .nmachine .stats {
    margin-bottom: 5px;
    text-align: left; }

.ncaps.roll {
  animation: rollCaps 2s linear infinite;
  -webkit-animation: rollCaps 2s linear infinite; }
.ncaps.rotate-x {
  animation: rotateXCaps 2s linear infinite;
  -webkit-animation: rotateXCaps 2s linear infinite; }
.ncaps.rotate-y {
  animation: rotateYCaps 2s linear infinite;
  -webkit-animation: rotateYCaps 2s linear infinite; }
.ncaps.pull {
  opacity: 0;
  position: absolute;
  left: 42.4%;
  top: 53.5%;
  animation: pullCapsRotate 4s ease-in-out 1, pullCapsMoveX 4s ease-out 1, pullCapsMoveY 4s ease-in-out 1;
  -webkit-animation: pullCapsRotate 4s ease-in-out 1, pullCapsMoveX 4s ease-out 1, pullCapsMoveY 4s ease-in-out 1; }

.image {
  content: "";
  padding-top: 12px;
  height: 75px;
  width: 78px;
  background-repeat: no-repeat;
  position: relative; }
  .image img {
    width: 63px;
    left: 0;
    position: absolute;
    bottom: 0; }

.set {
  display: inline-block;
  pointer-events: all; }

.set-ss .image {
  background-image: url("../images/sets/bg-upcoming-set.png"); }

.set-s .image {
  background-image: url("../images/sets/bg-upcoming-set-s.png"); }

.ready {
  opacity: 0;
  z-index: 2;
  animation: pullFall 1.5s ease-out 1 4s forwards;
  -webkit-animation: pullFall 1.5s ease-out 1 4s forwards; }

.btn-pull {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#72ceb6+0,559e9c+49,559e9c+49,4a9796+50,4a9796+50,629a96+100 */
  background: #72ceb6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #72ceb6 0%, #559e9c 49%, #559e9c 49%, #4a9796 50%, #4a9796 50%, #629a96 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #72ceb6 0%, #559e9c 49%, #559e9c 49%, #4a9796 50%, #4a9796 50%, #629a96 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #72ceb6 0%, #559e9c 49%, #559e9c 49%, #4a9796 50%, #4a9796 50%, #629a96 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72ceb6', endColorstr='#629a96',GradientType=0 );
  /* IE6-9 */
  border: 2px solid #78cab5;
  box-shadow: 0 0 3px 0px black;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  color: white;
  font-weight: bold;
  padding: 5px 0;
  display: inline-block;
  width: 48%; }
  .btn-pull:hover {
    border: 2px solid #78cab5; }
  .btn-pull:active {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8); }
  .btn-pull[disabled] {
    opacity: 0.2;
    cursor: not-allowed; }

@keyframes rollCaps {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg); } }
@keyframes rotateXCaps {
  100% {
    transform: rotateX(360deg);
    -webkit-transform: rotateX(360deg);
    -ms-transform: rotateX(360deg); } }
@keyframes rotateYCaps {
  100% {
    transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg); } }
@keyframes npullCapsRotate {
  0% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    opacity: 1; }
  12% {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg); }
  25% {
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    animation-timing-function: linear; }
  70% {
    transform: rotate(-540deg);
    -webkit-transform: rotate(-540deg);
    -ms-transform: rotate(-540deg);
    animation-timing-function: ease-out; }
  92% {
    transform: rotate(-740deg);
    -webkit-transform: rotate(-740deg);
    -ms-transform: rotate(-740deg); }
  95% {
    transform: rotate(-740deg) scale(3);
    -webkit-transform: rotate(-740deg) scale(3);
    -ms-transform: rotate(-740deg) scale(3);
    opacity: 1; }
  100% {
    transform: rotate(-740deg) scale(3);
    -webkit-transform: rotate(-740deg) scale(3);
    -ms-transform: rotate(-740deg) scale(3);
    opacity: 0; } }
@keyframes npullCapsMoveX {
  0% {
    animation-timing-function: ease-out; }
  12% {
    left: 22.4%;
    animation-timing-function: ease-in; }
  25% {
    left: 2.4%;
    animation-timing-function: ease-out; }
  70% {
    left: -12.4%;
    animation-timing-function: ease-in; }
  92% {
    left: -22.4%; }
  100% {
    left: -22.4%; } }
@keyframes npullCapsMoveY {
  12% {
    top: 89.7%; }
  25% {
    top: 33.5%;
    animation-timing-function: ease-in; }
  30% {
    top: 33.5%;
    animation-timing-function: ease-in; }
  70% {
    top: 89.7%;
    animation-timing-function: ease-out; }
  92% {
    top: 43.5%; }
  100% {
    top: 43.5%; } }
.wrap {
  position: relative;
  margin-bottom: 15px; }

.machine {
  margin: 0 auto;
  background-color: #eee;
  position: relative;
  padding: 15px;
  width: 450px;
  border-radius: 4px;
  border: 1px solid grey;
  text-align: center; }
  .machine img {
    vertical-align: initial; }
  .machine .stats {
    margin-bottom: 5px;
    min-height: 160px;
    text-align: center; }

.caps.roll {
  animation: rollCaps 2s linear infinite;
  -webkit-animation: rollCaps 2s linear infinite; }

.caps.rotate-x {
  animation: rotateXCaps 2s linear infinite;
  -webkit-animation: rotateXCaps 2s linear infinite; }

.caps.rotate-y {
  animation: rotateYCaps 2s linear infinite;
  -webkit-animation: rotateYCaps 2s linear infinite; }

.caps.pull {
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100px;
  animation: pullCapsRotate 4s ease-in-out 1, pullCapsMoveX 4s ease-out 1, pullCapsMoveY 4s ease-in-out 1;
  -webkit-animation: pullCapsRotate 4s ease-in-out 1, pullCapsMoveX 4s ease-out 1, pullCapsMoveY 4s ease-in-out 1; }

.caps.result {
  width: 50px; }

@media screen and (max-width: 480px) {
  .machine {
    width: 100%; }

  .caps.pull {
    right: 0;
    left: auto;
    animation: pullCapsRotate 4s ease-in-out 1, pullCapsMoveXX 4s ease-out 1, pullCapsMoveY 4s ease-in-out 1;
    -webkit-animation: pullCapsRotate 4s ease-in-out 1, pullCapsMoveXX 4s ease-out 1, pullCapsMoveY 4s ease-in-out 1; } }
@keyframes pullCapsMoveX {
  0% {
    animation-timing-function: ease-out; }
  12% {
    left: -100px;
    animation-timing-function: ease-in; }
  25% {
    left: -200px;
    animation-timing-function: ease-out; }
  70% {
    left: -300px;
    animation-timing-function: ease-in; }
  92% {
    left: -350px; }
  100% {
    left: -350px; } }
@keyframes pullCapsMoveXX {
  0% {
    animation-timing-function: ease-out; }
  12% {
    right: 20%;
    animation-timing-function: ease-in; }
  25% {
    right: 40%;
    animation-timing-function: ease-out; }
  70% {
    right: 60%;
    animation-timing-function: ease-in; }
  92% {
    right: 80%; }
  100% {
    right: 80%; } }
@keyframes pullCapsMoveY {
  12% {
    top: 100px; }
  25% {
    top: 0px;
    animation-timing-function: ease-in; }
  30% {
    top: 0px;
    animation-timing-function: ease-in; }
  70% {
    top: 100px;
    animation-timing-function: ease-out; }
  92% {
    top: 0px; }
  100% {
    top: 0px; } }
@keyframes pullCapsRotate {
  0% {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    opacity: 1; }
  12% {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg); }
  25% {
    transform: rotate(-270deg);
    -webkit-transform: rotate(-270deg);
    -ms-transform: rotate(-270deg);
    animation-timing-function: linear; }
  70% {
    transform: rotate(-540deg);
    -webkit-transform: rotate(-540deg);
    -ms-transform: rotate(-540deg);
    animation-timing-function: ease-out; }
  92% {
    transform: rotate(-740deg);
    -webkit-transform: rotate(-740deg);
    -ms-transform: rotate(-740deg); }
  95% {
    transform: rotate(-740deg) scale(1.8);
    -webkit-transform: rotate(-740deg) scale(1.8);
    -ms-transform: rotate(-740deg) scale(1.8);
    opacity: 1; }
  100% {
    transform: rotate(-740deg) scale(1.8);
    -webkit-transform: rotate(-740deg) scale(1.8);
    -ms-transform: rotate(-740deg) scale(1.8);
    opacity: 0; } }
@keyframes pullFall {
  0% {
    transform: rotateX(200deg) rotateY(100deg) scale(8);
    -webkit-transform: rotateX(200deg) rotateY(100deg) scale(8);
    -ms-transform: rotateX(200deg) rotateY(100deg) scale(8);
    opacity: 1; }
  100% {
    transform: rotateX(0deg) rotateY(0deg) scale(1);
    -webkit-transform: rotateX(0deg) rotateY(0deg) scale(1);
    -ms-transform: rotateX(0deg) rotateY(0deg) scale(1);
    opacity: 1; } }

/*# sourceMappingURL=fluff.css.map */
